{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Semestre</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Semestre</th>
                <td>{{ entity.Semestre }}</td>
            </tr>
            <tr>
                <th>Campuscarrera_id</th>
                <td>{{ entity.CampusCarreraid }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('semestre') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('semestre_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
