{% extends '::base.html.twig' %}

{% block titulo %}
    <h1 class="page-title">{{ entity.Carrera }}</h1>
    <p class="lead">
        {{ entity.Codigo}} - {{entity.Campus}} <br />
        Jornada: {{entity.Jornada}}
    </p>
{% endblock %}

{% block body -%}
<div class="row">
    <div class="col-lg-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Coordinador</th>
                <th>{{entity.Catedratico}}</th>
            </tr>
        </thead>
    </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
    <h2>Semestres y secciones </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Semestre</th>
                <th>Unidad</th>
                <th>Secciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for semestre in entity.Semestres %}
            <tr>
                <td>{{ semestre.Semestre }}</td>
                <td>{{ semestre.Unidad +1}}</td>
                <td>{# cursos.PensumAnio.Curso #}</td>
                <td>
                    <ul>
                        <li><a href="{{path('semestre_edit', { 'id': semestre.id }) }}">editar</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href={{ path('semestre_new', {'id': entity.id}) }} class="btn btn-primary">Asiganar semestre a la carrera</a>
    <br />
    </div>
    <div class="col-lg-8">
    <h1> Lista de cursos </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Curso</th>
                <th>Pensum</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cursos in entity.getCarreraCursos %}
            <tr>
                <td>{{ cursos.PensumAnio.Codigo }}</td>
                <td>{{ cursos.PensumAnio.Curso }}</td>
                <td>{{ cursos.PensumAnio.Pensum }}</td>
                <td>
                    <ul>
                        <li><a href="{{ path('carreracurso_show', { 'id': cursos.id }) }}">ver</a></li>
                        <li><a href="{{path('carreracurso_edit', { 'id': cursos.id }) }}">editar</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href={{ path('carreracurso_new', {'id': entity.id}) }} class="btn btn-primary">Asiganar cursos a la carrera</a>
    <br />
    </div>
    </div>
    <div class="row">
        <ul class="record_actions">
    <li>
        <a href="{{ path('campus_show', {'id':entity.Campus.id}) }}">
            Regresar al campus
        </a>
    </li>
    <li>
        <a href="{{ path('campuscarrera_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
</ul>
</div>
{% endblock %}
